<div class="signup-main-div second">
  <div class="row p-0 m-0 h-100">
    <div class="col-12 col-md-5 p-0  signup-left-div">
      <img src="assets/images/signup-left.jpg" class="img-fluid w-100" style="object-fit: cover;" alt="">
    </div>

    <div class="col-12 col-md-7 p-0 ">
      <div class="w-60 m-auto pt-5">


        <!-- SignUp screen -->
        <div class="py-5  rounded position-relative" *ngIf="!sigunpSuccess; else signupSuccessDiv;">
          <div>

            <form class="" [formGroup]="signupForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
              <div class="" class="px-5">
                <h4>Set up your Travitime Account</h4>
                <div class="form-group pt-4">
                  <div class="label">Email </div>
                  <input type="email" class="form-control" placeholder="(eg) xyz@domain.com"
                    formControlName="userEmail">
                  <div *ngIf="f.userEmail.errors && f.userEmail.touched" class="form-text  text-danger">
                    <div *ngIf="f.userEmail.errors.required || f.userEmail.errors.invalidEmailAddress">Please Enter
                      Valid
                      Email ID</div>
                  </div>

                </div>
                <div class="form-group pt-4">
                  <div class="label">Password </div>
                  <input type="password" class="form-control" placeholder="Your Password" formControlName="password">
                  <div *ngIf="f.password.errors && f.password.touched || f.submitted" class="form-text  text-danger">
                    <div *ngIf="f.password.errors.required">Please Enter Password</div>
                  </div>
                </div>
                <div class="form-group pt-4">
                  <div class="label">Phone</div>
                  <input type="text" class="form-control" formControlName="phone" placeholder="Your Contact">
                  <div *ngIf="f.phone.errors && f.phone.touched" class="form-text  text-danger">
                    <div *ngIf="f.phone.errors.required">Please Enter Phone Number</div>
                  </div>

                </div>
                <div class="pt-5"></div>
                <button class="signup-btn" type="submit" [disabled]="!signupForm.valid" *ngIf="!isLoading"> Complete
                  Signup
                </button>

                <div *ngIf="isLoading" class="spinner-border" role="status">

                </div>

              </div>
            </form>
          </div>

        </div>

        <!-- SignUp success screen -->
        <ng-template #signupSuccessDiv>
          <div class="py-5 border rounded position-relative">
            <div class="position-absolute bg-white px-4" style="top:-10px; left:30px">
              <h5>Activate Your Account</h5>

            </div>
            <div class="p-5">
              <h6> Your account has been created. To activate your account check your email</h6>
              <div class="py-2"></div>
              <a class="btn btn-primary">Resend Email</a>
            </div>
          </div>
        </ng-template>


      </div>

    </div>

  </div>
</div>
