<div class="w-50 m-auto">
  <div class=" p-5 bg-white rounded shadow-sm ">
    <div class="row">
      <div class="col-12 col-md-12"></div>
      <div class="col-12 col-md-12">
        <p class="text-secondary fs-5">Forgot your Travitime Account Password?</p>
        <p>No problem. Please type the email address your used to
          sign in to your Travitime account and we will send you a
          email with link and instruction on how to reset it.
        </p>

        <div class="form-group pb-3 pt-5">
          <label for="">Your Email</label>
          <input type="text" class="form-control" placeholder="name@conpany.com.">
        </div>
        <!-- <div class="form-group pb-3">
          <input type="password" class="form-control" placeholder="password">
        </div> -->

        <div class="d-flex justify-content-between align-items-center">
          <button class="btn-orange">Send Reset Instructions to My Email </button>
          <!-- <a routerLink='/forgot-password'><small>Forgot password</small></a> -->
        </div>

      </div>
    </div>
  </div>
  <div style="background-color: #d8ffd5;" class="p-3">
    <p><small>
        Link to reset your Travitime account password have been
        sent to your email. In case , if you don’t see the email please ensure
        you have entered the correct email address.
      </small></p>
  </div>
</div>
