<div class="row  gx-4">
  <div class="col-12 col-md-8">
    <div class="dashboard-landing">
      <div class="d-flex rounded shadow flex-column flex-md-row" style=" background-color: #28165b;">
        <div class="card m-3 p-4 text-center flex-fill">
          <i class='bx bx-world fs-1 text-white'></i>
          <p class="fs-6 text-white pt-2">International Tours</p>
        </div>
        <div class="card m-3 p-4 text-center flex-fill">
          <i class='bx bx-map fs-1 text-white'></i>
          <p class=" fs-6 text-white pt-2">Domestic Tours</p>
        </div>
        <div class="card m-3 p-4 text-center flex-fill">
          <i class='bx bxs-plane-take-off fs-1 text-white'></i>
          <p class=" fs-6 text-white pt-2">All Tours</p>
        </div>
        <div class="card m-3 p-4 text-center flex-fill" (click)="onClickAdd()">
          <i class='bx bx-add-to-queue fs-1 text-white'></i>
          <p class=" fs-6 text-white pt-2">Add New Tour</p>
        </div>
      </div>

      <!--table-->
      <div class="bg-white p-5 mt-5 shadow-sm">
        <p class="fs-5 pb-4">Upcoming Tours</p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Country</th>
                <th scope="col">Area</th>
                <th scope="col">Population</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let country of countries; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2"
                    style="width: 20px">
                  {{ country.name }}
                </td>
                <td>{{ country.area | number }}</td>
                <td>{{ country.population | number }}</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2 pt-5">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
              (pageChange)="refreshCountries()">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
              (ngModelChange)="refreshCountries()">
              <option [ngValue]="2">2 items per page</option>
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
            </select>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- right side -->
  <div class="col-md-4 col-12 ps-4">

    <div class="bg-white shadow-sm message-box ">
      <ul class="list-group">
        <li class="list-group-item " *ngFor="let item of [1,2,3,4,5]">
          <div class="d-flex p-3">
            <div>
              <img src="https://via.placeholder.com/50" class="rounded-circle" alt="">
            </div>
            <div class="ps-4">
              <p>Mr.Joshi</p>
              <p><small>Have Uploaded the documents, Please check and confirm</small></p>
              <a href="#">View Message</a>
            </div>
          </div>
        </li>

      </ul>
    </div>

  </div>

</div>
