<header class="navbar sticky-top bg-white flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><img src="/assets/images/tt-logo-blue.png"
      class="img-fluid w-50"></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
  <div class="navbar-nav">
    <div class="nav-item text-nowrap ">

      <a class="nav-link  d-flex align-items-center px-3" (click)="logout()"> <i class='bx bx-log-out px-3'></i>Sign
        out</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block  sidebar collapse">
      <div class="position-sticky ">
        <div style="background-color: #081d5d;" class="px-2 py-4 text-white">
          <p class="fs-6">Company Name</p>
          <p><small>Travitime ID: TRAVSERIESNUMBER</small></p>
        </div>
        <ul class="nav flex-column  pt-3">
          <li class="nav-item " routerLink="/dashboard">
            <a class="nav-link active" aria-current="page">
              <i class='bx bx-customize'></i>
              Dashboard
            </a>

          </li>
          <li class="nav-item" appSlideDown>
            <a class="nav-link" routerLink="/dashboard/tour/all">
              <i class='bx bx-user'></i>
              Tour Manager
            </a>
            <ul class="sidebar-ul-2 dropdown-slide-menu">
              <li class=" ">
                <a class="nav-link " routerLink="/dashboard/tour/add">
                  <i class='bx bx-customize'></i>
                  Add Tour
                </a>

              </li>


            </ul>
          </li>
          <li class="nav-item" appSlideDown>
            <a class="nav-link">
              <i class='bx bx-message'></i>
              Messages
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class='bx bx-calendar'></i>
              Tour Calendar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class='bx bxs-user-account'></i>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class='bx bx-support'></i>
              Support
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link">
              <i class='bx bx-user-pin'></i>
              Profile
            </a>
          </li>


        </ul>


      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 " style="background-color: #f5f5f5;  ">
      <div style="height: 50px;" class="d-none d-md-block"></div>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
