/* You can add global styles to this file, and also import other style files */
:root {
  --bs-blue: #38039a;
  --bs-indigo: #500ad2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-200: #eaeaf4;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

.bg-indigo {
  background-color: var(--bs-indigo);
}
.bg-blue {
  background-color: var(--bs-blue);
}
.bg-blue-400 {
  background-color: #e8f6ff;
}

.bg-gray {
  background-color: var(--bs-gray-200);
}

::placeholder {
  color: rgb(184, 184, 184);
  opacity: 1; /* Firefox */
  font-style: italic;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(184, 184, 184);
  font-style: italic;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(184, 184, 184);
  font-style: italic;
}

.mh-100vh {
  min-height: 100vh;
}

.btn {
  font-size: 0.9em;
  padding: 10px 20px;
}

.btn-primary {
  background-color: #014dc4;
  filter: drop-shadow(0px 0px 1px #062a64);
}

.min-text {
  font-size: 0.8em;
}

.btn-orange {
  border: none;
  background-color: #fd7f00;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
}

.btn-orange:disabled {
  /* background-color: var(--bs-secondary); */
  background-color: #8a5d2f;
}
